{
    "swagger": "2.0",
    "info": {
        "title": "SW Maestro Portal API",
        "description": "SW Maestro Portal API Document",
        "version": "1.0.0"
    },
    "host": "api.swmaestro.net",
    "schemes": [
        "http"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "parameters": {
        "UserBody": {
            "name": "user",
            "in": "body",
            "schema": {
                "$ref": "#/definitions/User"
            }
        },
        "LectureBody": {
            "name": "lecture",
            "in": "body",
            "schema": {
                "$ref": "#/definitions/Lecture"
            }
        },
        "AssignmentBody": {
            "name": "assignment",
            "in": "body",
            "schema": {
                "$ref": "#/definitions/Assignment"
            }
        },
        "CommentBody": {
            "name": "comment",
            "in": "body",
            "schema": {
                "$ref": "#/definitions/Comment"
            }
        },
        "UserEmailQuery": {
            "name": "user_email",
            "in": "query",
            "description": "User's email to filter",
            "type": "string"
        }
    },
    "responses": {
        "BasicSucceed": {
            "description": "Succeed."
        },
        "BasicBadRequest": {
            "description": "Bad request."
        },
        "BasicConflict": {
            "description": "Conflict."
        }
    },
    "paths": {
        "/users": {
            "post": {
                "description": "Creates a new user (Sign Up).",
                "summary": "Create User",
                "operationId": "postUser",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserBody"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                }
            },
            "get": {
                "description": "Returns list of users.",
                "summary": "Users List",
                "operationId": "getUsers",
                "responses": {
                    "200": {
                        "description": "Users List",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "smp_auth": [
                            "manager"
                        ]
                    }
                ]
            }
        },
        "/users/me": {
            "get": {
                "description": "Returns logined user's profile.",
                "summary": "My Profile",
                "operationId": "getMe",
                "responses": {
                    "200": {
                        "description": "User Response",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "put": {
                "description": "Edit my profile.",
                "summary": "Edit Me",
                "operationId": "putMe",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserBody"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "delete": {
                "description": "Deletes Me (Leave).",
                "summary": "Delete Me",
                "operationId": "deleteMe",
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            }
        },
        "/users/{user-id}": {
            "get": {
                "description": "Returns user's profile.",
                "summary": "User Profile",
                "operationId": "getUser",
                "responses": {
                    "200": {
                        "description": "User Profile",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "put": {
                "description": "Edit user's profile.",
                "summary": "Edit User",
                "operationId": "putUser",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserBody"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": [
                            "manager"
                        ]
                    }
                ]
            },
            "delete": {
                "description": "Deletes a User.",
                "summary": "Delete User",
                "operationId": "deleteUser",
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": [
                            "manager"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "user-id",
                    "in": "path",
                    "description": "User's ID",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/lectures": {
            "post": {
                "description": "Creates a lecture.",
                "summary": "Create lecture",
                "operationId": "postLecture",
                "parameters": [
                    {
                        "$ref": "#/parameters/LectureBody"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": [
                            "mentor",
                            "manager"
                        ]
                    }
                ]
            },
            "get": {
                "description": "Return lectures list.",
                "summary": "Lecture List",
                "operationId": "getLectures",
                "responses": {
                    "200": {
                        "description": "Lectures List",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Lecture"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            }
        },
        "/lectures/{lecture-id}": {
            "get": {
                "description": "Returns a Lecture.",
                "summary": "Get Lecture",
                "operationId": "getLecture",
                "responses": {
                    "200": {
                        "description": "Lecture Information",
                        "schema": {
                            "$ref": "#/definitions/Lecture"
                        }
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "put": {
                "description": "Edit a Lecture",
                "summary": "Edit Lecture",
                "operationId": "putLecture",
                "parameters": [
                    {
                        "$ref": "#/parameters/LectureBody"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": [
                            "mentor",
                            "manager"
                        ]
                    }
                ]
            },
            "delete": {
                "description": "Delete a Lecture",
                "summary": "Delete Lecture",
                "operationId": "deleteLecture",
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": [
                            "mentor",
                            "manager"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "lecture-id",
                    "in": "path",
                    "description": "Lecture's ID",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/lectures/{lecture-id}/comments": {
            "post": {
                "description": "Creates a comment on lecture.",
                "summary": "Create Comment on Lecture",
                "operationId": "postCommentOfLecture",
                "parameters": [
                    {
                        "$ref": "#/parameters/CommentBody"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "get": {
                "description": "Return comments list of lecture.",
                "summary": "List Comments of Lecture",
                "operationId": "getCommentsOfLecture",
                "responses": {
                    "200": {
                        "description": "Lectures List",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Comment"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "parameters": [
                {
                    "name": "lecture-id",
                    "in": "path",
                    "description": "Lecture's ID",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/lectures/{lecture-id}/attachments": {
            "post": {
                "description": "Uploads a attachment on lecture.",
                "summary": "Upload attachment on Lecture",
                "operationId": "postAttachmentOfLecture",
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "get": {
                "description": "Return attachments list of lecture.",
                "summary": "List Attachments of Lecture",
                "operationId": "getAttachmentsOfLecture",
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "parameters": [
                {
                    "name": "lecture-id",
                    "in": "path",
                    "description": "Lecture's ID",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/assignments": {
            "post": {
                "description": "Creates a assignment.",
                "summary": "Create assignment",
                "operationId": "postAssignment",
                "parameters": [
                    {
                        "$ref": "#/parameters/AssignmentBody"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": [
                            "mentor",
                            "manager"
                        ]
                    }
                ]
            },
            "get": {
                "description": "Return assignments list.",
                "summary": "Assignment List",
                "operationId": "getAssignments",
                "responses": {
                    "200": {
                        "description": "Assignments List",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Assignment"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            }
        },
        "/assignments/{assignment-id}": {
            "get": {
                "description": "Returns a Assignment.",
                "summary": "Get Assignment",
                "operationId": "getAssignment",
                "responses": {
                    "200": {
                        "description": "Assignment Information",
                        "schema": {
                            "$ref": "#/definitions/Assignment"
                        }
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "put": {
                "description": "Edit a Assignment",
                "summary": "Edit Assignment",
                "operationId": "putAssignment",
                "parameters": [
                    {
                        "$ref": "#/parameters/AssignmentBody"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": [
                            "mentor",
                            "manager"
                        ]
                    }
                ]
            },
            "delete": {
                "description": "Delete a Assignment",
                "summary": "Delete Assignment",
                "operationId": "deleteAssignment",
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": [
                            "mentor",
                            "manager"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "name": "assignment-id",
                    "in": "path",
                    "description": "Assignment's ID",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/assignments/{assignment-id}/comments": {
            "post": {
                "description": "Creates a comment on assignment.",
                "summary": "Create Comment on Assignment",
                "operationId": "postCommentOfAssignment",
                "parameters": [
                    {
                        "$ref": "#/parameters/CommentBody"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "get": {
                "description": "Return comments list of assignment.",
                "summary": "List Comments of assignment",
                "operationId": "getCommentsOfAssignment",
                "responses": {
                    "200": {
                        "description": "Assignments List",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Comment"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "parameters": [
                {
                    "name": "assignment-id",
                    "in": "path",
                    "description": "Assignment's ID",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/assignments/{assignment-id}/attachments": {
            "post": {
                "description": "Uploads a attachment on assignment.",
                "summary": "Upload attachment on Assignment",
                "operationId": "postAttachmentOfAssignment",
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "get": {
                "description": "Return attachments list of assignment.",
                "summary": "List Attachments of Assignment",
                "operationId": "getAttachmentsOfAssignment",
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "parameters": [
                {
                    "name": "assignment-id",
                    "in": "path",
                    "description": "Assignment's ID",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/comments/{comment-id}": {
            "put": {
                "description": "Edit a comment.",
                "summary": "Edit Comment",
                "operationId": "putComment",
                "parameters": [
                    {
                        "$ref": "#/parameters/CommentBody"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "delete": {
                "description": "Delete a comment.",
                "summary": "Delete Comment",
                "operationId": "deleteComment",
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "parameters": [
                {
                    "name": "comment-id",
                    "in": "path",
                    "description": "Comment's ID",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/notifications/me": {
            "get": {
                "description": "Return my notifications",
                "summary": "My notification list",
                "operationId": "getMyNotifications",
                "responses": {
                    "200": {
                        "description": "Notifications List",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Notification"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            }
        },
        "/notifications/{notification-id}": {
            "put": {
                "description": "Read notification",
                "summary": "Read notification",
                "operationId": "readNotification",
                "responses": {
                    "200": {
                        "$ref": "#/responses/BasicSucceed"
                    }
                },
                "security": [
                    {
                        "smp_auth": []
                    }
                ]
            },
            "parameters": [
                {
                    "name": "notification-id",
                    "in": "path",
                    "description": "Notification's ID",
                    "required": true,
                    "type": "integer"
                }
            ]
        }
    },
    "definitions": {
        "User": {
            "type": "object",
            "required": [
                "userEmail",
                "userName"
            ],
            "properties": {
                "userId": {
                    "type": "integer",
                    "description": "Unique ID"
                },
                "userEmail": {
                    "type": "string",
                    "description": "Email address"
                },
                "userName": {
                    "type": "string",
                    "description": "Name"
                },
                "userPassword": {
                    "type": "string",
                    "description": "Password"
                },
                "userGender": {
                    "type": "string",
                    "description": "0:Female, 1:Male"
                },
                "userPhone": {
                    "type": "string",
                    "description": "Phone number"
                },
                "userGroups": {
                    "type": "array",
                    "$ref": "#/definitions/Group"
                }
            }
        },
        "Group": {
            "type": "object",
            "properties": {
                "userId": {
                    "type": "integer",
                    "description": "User's ID."
                },
                "generationId": {
                    "type": "integer",
                    "description": "Generation number"
                },
                "groupCode": {
                    "type": "string",
                    "description": "0:Mentee, 1:Mento, 2:Admin"
                }
            }
        },
        "Lecture": {
            "type": "object",
            "required": [
                "articleGenerationId",
                "articleSubject",
                "articleContent",
                "lectureTeacherId",
                "lectureBeginAt",
                "lectureEndAt"
            ],
            "properties": {
                "articleId": {
                    "type": "integer",
                    "description": "Article's unique ID"
                },
                "articleWriterId": {
                    "type": "integer",
                    "description": "Article Writer user ID"
                },
                "articleModifierId": {
                    "type": "integer",
                    "description": "Article Modifier's user ID"
                },
                "articleGenerationId": {
                    "type": "integer",
                    "description": "Article's generation ID"
                },
                "articleSubject": {
                    "type": "string",
                    "description": "Article's subject"
                },
                "articleContent": {
                    "type": "string",
                    "description": "Article's content"
                },
                "articleCreatedAt": {
                    "type": "string",
                    "description": "When is article created"
                },
                "articleUpdatedAt": {
                    "type": "string",
                    "description": "When is article updated"
                },
                "articleType": {
                    "type": "string",
                    "description": "Article's Type"
                },
                "articleStatus": {
                    "type": "string",
                    "description": "Article's Status"
                },
                "lectureTeacherId": {
                    "type": "integer",
                    "description": "Lecture's teacher id"
                },
                "lectureBeginAt": {
                    "type": "string",
                    "description": "When lecture begin"
                },
                "lectureEndAt": {
                    "type": "string",
                    "description": "When lecture end"
                }
            }
        },
        "Assignment": {
            "type": "object",
            "required": [
                "articleGenerationId",
                "articleSubject",
                "articleContent",
                "assignmentEndAt"
            ],
            "properties": {
                "articleId": {
                    "type": "integer",
                    "description": "Article's unique ID"
                },
                "articleWriterId": {
                    "type": "integer",
                    "description": "Article Writer user ID"
                },
                "articleModifierId": {
                    "type": "integer",
                    "description": "Article Modifier's user ID"
                },
                "articleGenerationId": {
                    "type": "integer",
                    "description": "Article's generation ID"
                },
                "articleSubject": {
                    "type": "string",
                    "description": "Article's subject"
                },
                "articleContent": {
                    "type": "string",
                    "description": "Article's content"
                },
                "articleCreatedAt": {
                    "type": "string",
                    "description": "When is article created"
                },
                "articleUpdatedAt": {
                    "type": "string",
                    "description": "When is article updated"
                },
                "articleType": {
                    "type": "string",
                    "description": "Article's Type"
                },
                "articleStatus": {
                    "type": "string",
                    "description": "Article's Status"
                },
                "assignmentEndAt": {
                    "type": "string",
                    "description": "When assignment end"
                }
            }
        },
        "Comment": {
            "type": "object",
            "required": [
                "commentContent",
                "commentParentId"
            ],
            "properties": {
                "commentId": {
                    "type": "integer",
                    "description": "Comment's uniqud ID"
                },
                "commentContent": {
                    "type": "string",
                    "description": "Comment's content"
                },
                "commentWriterId": {
                    "type": "integer",
                    "description": "Comment writer's ID"
                },
                "commentParentId": {
                    "type": "integer",
                    "description": "Comment parent's ID"
                },
                "commentCreatedAt": {
                    "type": "string",
                    "description": "When is comment created"
                },
                "commentUpdatedAt": {
                    "type": "string",
                    "description": "When is comment created"
                },
                "commentStatus": {
                    "type": "string",
                    "description": "A available D deleted"
                }
            }
        },
        "Notification": {
            "type": "object",
            "properties": {
                "notificationId": {
                    "type": "integer",
                    "description": "Notification's uniqud ID"
                },
                "notificationMessage": {
                    "type": "string",
                    "description": "Notification's content"
                },
                "notificationUrl": {
                    "type": "string",
                    "description": "Where is notification sent"
                },
                "notificationTargetUserId": {
                    "type": "integer",
                    "description": "Notification's target user Id"
                },
                "notificationCreatedAt": {
                    "type": "string",
                    "description": "When is comment created"
                },
                "notificationIsRead": {
                    "type": "boolean",
                    "description": "is notification Read"
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "smp_auth": {
            "description": "Own Auth. (* Need one of scopes as listed on request.)",
            "type": "oauth2",
            "tokenUrl": "http://api.swmaestro.net/oauth/token",
            "flow": "password",
            "scopes": {
                "mentee": "Mentee",
                "mentor": "Mentor",
                "manager": "Manager"
            }
        }
    }
}